html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary: #768064;
  /* verde principal */
  --primary-dark: #4c583e;
  /* verde más oscuro */
  --bg: #2c3424;
  /* fondo oscuro */
  --text: #daded8;
  /* texto claro */
  --gray: #959581;
  /* texto secundario */
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111;
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;
  z-index: 1000;
}



.navigation-card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  padding: 15px 20px;
  border-radius: 50px;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 20px;
  overflow: hidden;
  background-color: rgb(252, 252, 252);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.tab:hover {
  background-color: rgb(223, 223, 223);
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


.nav-links a {
  text-decoration: none;
  color: #959581;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #768064;
}


.navbar .logo {
  color: #e5e7eb;
  font-size: 21px;
}

#hero {
  min-height: 100vh; 
  background-color: #1f2a15;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-top: 80px;
}

#hero h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#hero h2 {
  margin-bottom: 20px;
} 

.subtitle {
  width: 100%;
  max-width: 25rem;
  height: 50px;
}

.subtitleContent {
  display: block;
  position: sticky;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  line-height: 40px;
  color: whitesmoke;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;

}





.content__container__text {
  display: inline;
  float: left;
  margin: 0;
  font-size: 22px !important ;
  
}

.content__container__list {
  margin-top: 0;
  padding-left: 150px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 40px;
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}


#hero p {
  max-width: 500px;
  color: #959581;
  font-size: 1rem;
  margin-bottom: 30px;
}

#botones-hero {
  display: flex;
  gap: 15px;
}

.menu {
  padding: 2.5px;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 45px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: inherit;
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    background-color: #eee;
  }

  &:hover,
  &:focus {
    outline: 0;
    width: 125px;

    &:before,
    .link-title {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.link-icon {
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
  left: 18px;
  position: absolute;
  svg {
    width: 24px;
    height: 24px;
  }
}
.link-title {
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  transform-origin: center right;
  display: block;
  text-align: center;
  text-indent: 20px;
  width: 100%;
}

.ui-btn {
  box-sizing: border-box;
  padding:15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
 font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 300ms;
  overflow: hidden;
  
}

.ui-btn span {
  letter-spacing:.1rem;
  transition: 300ms;
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
  background:#111;
}

.ui-btn:hover span, .ui-btn:focus span {
  color: #768064;
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both 1250ms;
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "/*1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

button {
  font-size: 20px;
  background: #768064;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.buttonContacto span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.buttonContacto svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.buttonContacto:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.buttonContacto:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.buttonContacto:hover span {
  transform: translateX(5em);
}

.buttonContacto:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


#botones-hero a {
 text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
} 

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  gap: 40px;
  animation: fadeUp 1s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text {
  text-align: left;
}

.hero-img img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #768064;
  transition: 0.3s;
}

.hero-img img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .hero-text {
    text-align: center;
  }

  #botones-hero {
    justify-content: center;
  }

  .hero-img img {
    width: 170px;
    height: 170px;
    border: 3px solid #768064;

  }

  .hero-img  {
    order: -1;
  }

  .content__container__list{
    padding-left: 55%;

  }
.content__container__text{
   float:none;
   margin-right: 120px;
}


}

@media (max-width: 400px){
#hero h1{
  font-size: 2rem;
}
}


.availability {
  font-size: 15px;
  color: #768064;
  margin-bottom: 20px;
}

.projects {
  background-color: #2c3424;
  color: #daded8;
  padding: 80px 20px;
  text-align: center;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1100px;
  margin: auto;
  gap: 30px;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: #111;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.project-card:hover {
  transform: translateY(-10px) scale(1.02);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: all 300ms;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 18px;
  text-align: left;
}



.project-content h3 {
  margin-bottom: 8px;
  font-weight: 600;
}

.project-content p {
  color: #959581;
  font-size: 14px;
  margin-bottom: 10px;
}

.project-content .result {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 10px;

}



.tech {
  font-size: 12px;
  color: #768064;
  margin-bottom: 8px;
}

.project-buttons {
  margin-top: auto;
}

.project-buttons a {
  text-decoration: none;
  background-color: #768064;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.3s;
  font-weight: 500;
}

.project-buttons a:hover {
  background-color: #4c583e;
}


.tag {
  background: #768064;
  color: white;
  padding: 5px 10px;
  font-size: 0.7rem;
  border-radius: 5px;
  position: absolute;
  margin: 10px;
}


.contact {
  background-color: #2c3424;
  color: #e5e7eb;
  text-align: center;
  padding: 80px 20px;
  align-items: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-text {
  max-width: 500px;
  margin: 0 auto 30px;
  color: #daded8;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.contact-buttons a {
  padding: 14px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
} 

/* .whatsapp {
  background-color: #768064;
  color: white;
}

.whatsapp:hover {
  transform: scale(1.05);
}

.email {
  border: 2px solid #768064;
  color: #768064;
}

.email:hover {
  background-color: #768064;
  color: white;
} */


@media (max-width: 600px) {
  .contact-buttons {
    flex-direction: column;
    align-items: center;
  }

  .contact-buttons a {
    width: 100%;
    max-width: 280px;
    text-align: center;
  }
}


.cardContacto {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  margin: 0px auto;
}
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  border-radius: 7px;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #0a4407;
  transition-duration: .3s;
}
.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}
.socialSvg {
  width: 20px;
}
.socialSvg path {
  fill: rgb(255, 255, 255);
}
.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.footer {
  background-color: #222;
  color: #daded8;
  text-align: center;
  padding: 30px 20px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #768064;
  text-decoration: none;
  margin: 0 10px;
  font-size: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}










.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}